@use '../../styles/modules/_colors'

$blue: #3483fa
$separator: 6px

.ItemSeller
  display: flex
  flex-direction: column
  font-size: 14px
  margin-bottom: 24px

  p
    margin-bottom: $separator
    &:last-child
      margin-bottom: 0

  &-nickname span
    color: colors.$blue

  &-separator span, &-bill
    opacity: .55

  &-bill
    font-size: 12px