@use '../../styles/modules/_colors'
@use '../../styles/modules/_sizes'

$items-width--desktop: 65%
$container-width--table: 90%
$container-width--mobile: 100%

.ResultsPage
  height: 100%
  padding: 66px 0
  background-color: colors.$secondary-background-color

  .Items, .Disclaimer
    height: 100%
    width: $items-width--desktop
    margin: 0 auto
    border-radius: sizes.$radius-md
    background-color: colors.$white

  .Disclaimer
    display: flex
    justify-content: flex-start
    align-items: center
    height: 34px
    margin-top: 8px
    padding: 11px 15px 7px 15px

    p
      margin-left: 9px
      opacity: .55
      font-size: .7rem

@media screen and (max-width: sizes.$tablet-size)
  .ResultsPage
    .Items, .Disclaimer
      width: $container-width--table

@media screen and (max-width: sizes.$mobile-size)
  .ResultsPage
    .Items, .Disclaimer
      width: $container-width--mobile