@use '../../styles/modules/_sizes'

.ItemInfo-status
  display: flex
  flex-direction: column
  margin-bottom: 19px

  &--condition
    display: inherit
    justify-content: space-between
    margin-bottom: 9px

    p
      font-size: 14px
      opacity: 0.55

  &--title
    h1
      font-size: 22px
      font-weight: normal

.ItemInfo-price
  &--total
    margin-bottom: 4px
    font-size: 2.2rem
    font-weight: normal
    letter-spacing: normal
    opacity: 0.9

  &--installments
    margin-bottom: 7px
    font-size: 1.2rem
    opacity: 0.9

@media screen and (max-width: sizes.$laptop-size)
  .ItemInfo-status
    &--condition
      .Heart-icon
        display: none