$green: #00a650
$laptop-size: 1024px

$level_container_height: 12px
$level_height: 8px

// Color levels (not active)
$first_level: #fff0f0
$second_level: #fff5e8
$third_level: #fffcda
$fourth_level: #f1fdd7
$fifth_level: #edf8ee

// Colors levels (active)
$first_level--active: #ff605a
$second_level--active: #ffb656
$third_level--active: #fff044
$fourth_level--active: #bbff1f
$fifth_level--active: #39b54a

h1.SellerInfo-container--title
  font-size: 18px
  font-weight: normal
  line-height: 22.5px
  margin-bottom: 28px

div.SellerInfo-location, div.SellerInfo-title, div.SellerInfo-level
  display: flex
  aling-items: flex-start
  justify-content: flex-start

  div
    display: inherit
    flex-direction: column
    p
      margin-left: 10px

      &:first-child
        font-size: 16px
        opacity: 0.9
      &:nth-child(2)
        font-size: 14px
        opacity: 0.55

div.SellerInfo-location, div.SellerInfo-title
  margin-bottom: 20px

div.SellerInfo-title
  div
    p:first-child
      color: $green

div.SellerInfo-level
  .SellerInfo-level--container
    display: flex
    align-items: center
    height: $level_container_height
    width: 100%

    .Levels
      height: $level_height
      width: 20%

      &#level-1, &#level-2, &#level-3, &#level-4, &#level-5
        &.active
          height: $level_container_height

      &#level-1
        background-color: $first_level
        &.active
          background-color: $first_level--active
      &#level-2
        background-color: $second_level
        &.active
          background-color: $second_level--active
      &#level-3
        background-color: $third_level
        &.active
          background-color: $third_level--active
      &#level-4
        background-color: $fourth_level
        &.active
          background-color: $fourth_level--active
      &#level-5
        background-color: $fifth_level
        &.active
          background-color: $fifth_level--active