$laptop-size: 1024px
$tablet-size: 768px
$mobile-size: 425px

$description-font-size--tablet: 18px
$description-font-size--mobile: 14px

$background-color: #ededed
$container-background-color: #fff
$detail-width: 85%
$purchase-width: 325px
$radius: 4px

.DetailPage
  width: 100%
  height: 100%
  padding: 66px 0
  background-color: $background-color

  .Detail-container, .Description-container
    display: grid
    width: $detail-width
    margin: 0 auto
    border-radius: $radius
    background-color: $container-background-color

  .Detail-container
    grid-template-columns: 1fr 1fr $purchase-width
    height: 100%

  .Description-container
    grid-template-columns: 2fr $purchase-width
    padding: 0 0 45px 45px

    div
      h1
        margin-bottom: 24px
        font-size: 24px
        font-weight: 400
        line-height: 30px
      p
        font-size: 20px
        line-height: 21.6px
        letter-spacing: normal
        word-break: break-word
        color: #666666

@media screen and (max-width: $laptop-size)
  .DetailPage
    .Detail-container, .Description-container
      grid-template-columns: 1fr
      width: 100%
      border-radius: 0

    .Description-container
      padding: 0
      grid-template-areas: "seller-info" "description"

      .Description
        grid-area: description
        padding: 0 12px 48px 12px
        margin-top: 24px

@media screen and (max-width: $tablet-size)
  .DetailPage
    .Description-container
      .Description
        p
          font-size: $description-font-size--tablet

@media screen and (max-width: $mobile-size)
  .DetailPage
    .Description-container
      .Description
        p
          font-size: $description-font-size--mobile