@use '../../styles/modules/_colors'
@use '../../styles/modules/_sizes'

$description-font-size--tablet: 18px
$description-font-size--mobile: 14px

$detail-width: 85%
$purchase-width: 325px

.DetailPage
  width: 100%
  height: 100%
  padding: 66px 0
  background-color: colors.$secondary-background-color

  .Detail-container, .Description-container
    display: grid
    width: $detail-width
    margin: 0 auto
    border-radius: sizes.$radius-md
    background-color: colors.$white

  .Detail-container
    grid-template-columns: 1fr 1fr $purchase-width
    height: 100%

  .Description-container
    grid-template-columns: 2fr $purchase-width
    padding: 0 0 45px 45px

    div
      h1
        margin-bottom: 24px
        font-size: 24px
        font-weight: 400
        line-height: 30px
      p
        font-size: 20px
        line-height: 21.6px
        letter-spacing: normal
        word-break: break-word
        color: colors.$grey-secondary

@media screen and (max-width: sizes.$laptop-size)
  .DetailPage
    .Detail-container, .Description-container
      grid-template-columns: 1fr
      width: 100%
      border-radius: 0

    .Detail-container
      grid-template-areas: "image image" "image image" "info purchase" "extra purchase"
      grid-template-columns: 1fr 1fr
      grid-template-rows: repeat(4, auto)

      .Article-image
        grid-area: image
      .Article-info
        grid-area: info
      .Article-purchase
        grid-area: purchase

    .Description-container
      padding: 0
      grid-template-areas: "seller-info" "description"

      .Description
        grid-area: description
        padding: 0 12px 48px 12px
        margin-top: 24px

@media screen and (max-width: sizes.$tablet-size)
  .DetailPage
    .Detail-container
      grid-template-areas: "image" "info" "purchase"
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, auto)

    .Description-container
      .Description
        p
          font-size: $description-font-size--tablet

@media screen and (max-width: sizes.$mobile-size)
  .DetailPage
    .Description-container
      .Description
        p
          font-size: $description-font-size--mobile