@use '../../styles/modules/_colors'
@use '../../styles/modules/_sizes'

.ItemGuarantee
  display: flex
  flex-direction: column

  div
    display: inherit
    margin-bottom: 17px

    p
      margin-left: 10px
      font-size: 14px
      color: colors.$blue
      cursor: pointer
      &:hover
        color: colors.$blue-hover

      span
        color: colors.$black-secondary
        opacity: 0.55
        cursor: default

    &:last-child
      margin-bottom: 0
      opacity: 0.55