$pictures_height: 44px
$pictures_separation: 14px

.Image
  width: $pictures_height
  margin-bottom: $pictures_separation
  border: 2px solid rgba(0, 0, 0, .25)
  border-radius: 4px

  &-pic
    height: $pictures_height
    cursor: pointer